.offline_streaming {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__header {
    margin-top: 80px;
  }

  &__subheader {
    margin-top: 15px;
  }

  &__block {
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
    z-index: -2;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

