.typography {
  &__link {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    line-height: 13.13px;
    letter-spacing: 1.29px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__button {
    bottom: 100px;
    text-align: center;
    width: 200px;
    height: 55px;
    line-height: 55px;
    background: #23C3B2;
    border-radius: 5px;
  }

  &__header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  &__subheader {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
}
